<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="info">
		<appender-ref ref="STDOUT"/>
	</root>
	<logger name="eu.prechtel.bootcamp" level="debug"/>
	<!--<logger name="kafka" level="info"/>-->
	<logger name="kafka" level="warn"/>
	<!--<logger name="org.apache" level="info"/>-->
	<logger name="org.apache" level="warn"/>
	<logger name="state.change.logger" level="error"/>
</configuration>
